<bread-crumb [data]="[{ name: 'Xác thực otp' }]"></bread-crumb>

<div class="container">
  <div class="row p-5">
    <div class="col-12 mb-4">
      <h3 class="text-center">Xác thực OTP</h3>
    </div>
    <div class="col-12">
      <form (ngSubmit)="register()">
        <div class="form-group">
          <label for="phone">Số điện thoại* </label>
          <input
            type="text"
            class="form-control"
            id="phone"
            name="phone"
            [(ngModel)]="phone"
            placeholder="Nhập số điện thoại"
            readonly
            required
          />
        </div>
        <div class="form-group">
          <label for="code">Nhập mã OTP*</label>
          <input
            type="code"
            class="form-control"
            id="code"
            placeholder="Nhập mã OTP"
            name="code"
            required
            [(ngModel)]="code"
          />
        </div>
        <div
          class="alert alert-danger"
          *ngIf="authService.errorMess"
          role="alert"
        >
          {{ authService.errorMess }}
          <a class="ml-2" [routerLink]="['/otp']">Nhận lại OTP ?</a>
        </div>
        <div class="text-center mt-4">
          <button
            [disabled]="authService.submitted"
            type="submit"
            class="btn btn-primary"
          >
            Bước tiếp theo
          </button>
        </div>
      </form>
      <div class="text-center mt-4">
        <a [routerLink]="['/login']">Đã có tài khoản ?</a>
      </div>
    </div>
  </div>
</div>
