<div class="container text-center">
  <div class="row">
    <div class="order col-12 d-flex">
      <i class="icon-check-circle"></i>
      <div class="notify-status-order">
        <!-- <img src="./assets/images/emoji.svg" alt="emoji-thong-vang" /> -->
        <p class="notify-title">Đặt hàng thành công</p>
        <p>Chúc mừng quý khách đã đặt thàng thành công.</p>
        <p>
          Quý khách có thể theo dõi tiến độ xử lý đơn hàng tại trang
          <a [routerLink]="['/user', 'order']" class="link-history-boq">Lịch sử đơn hàng</a>
        </p>
      </div>
    </div>
  </div>
</div>
