<div class="container-fluid">
  <div class="row bread-crumb" #breadcrumb>
    <div class="container">
      <!-- <div class="row">
        <div class="col-12">
          <h4>AdivietSports Việt Nam - Mua sắm thể thao</h4>
        </div>
        <div class="col-12">
          <ul class="breadcrumbs">
            <li>
              <a [routerLink]="['/']"
                ><span>Trang chủ</span>
                <span><i class="fa fa-angle-right"></i></span
              ></a>
            </li>
            <li *ngFor="let page of data">
              <a [routerLink]="page.link"
                ><span> > {{ page.name }}</span></a
              >
            </li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
</div>
