<div class="container" *ngIf="(products$ | async)">
  <div class="row">
    <div class="col-12">
      <div class="categories">
        <h2>{{ category.name }}</h2>
        <i class="icon-menu" (click)="openMenu = !openMenu"></i>
        <ul [class.active]="openMenu">
          <li *ngFor="let category of categorySubs$ | async">
            <a [routerLink]="['/' + category.slug + '-c' + category.id]">{{
              category.name
              }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12" *ngIf="products$">
      <owl-carousel-o class="carousel" [options]="customOptions">
        <ng-template style="max-width: 250px;" carouselSlide *ngFor="let product of products$ | async">
          <app-product [product]="product"></app-product>
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="col-12 see-more">
      <div class="text-center">
        <a [routerLink]="['/' + category.slug + '-c' + category.id]">
          Xem thêm các sản phẩm khác
        </a>
      </div>
    </div>
  </div>
</div>