@import "../../../variables.scss";

.go-to-top {
  position: fixed;
  --space: 12px;
  right: var(--space);
  bottom: var(--space);
  z-index: 1;

  .go-to-top__action {
    display: flex;
    align-items: center;
    justify-content: center;
    --size: 36px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    line-height: var(--size);
    text-align: center;
    background-color: $orange;
    opacity: 0.8;
    text-decoration: none;
    color: $white;
    font-weight: normal;

    i {
      color: inherit;
      font-size: 16px;
    }

    &:hover {
      background-color: $orange-active;
      opacity: 1;
      transition: all 0.5s ease 0s;
    }
  }
}
